.pagination--number {
    display: inline-block;
}

.pagination--number a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination--number a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.pagination--number a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}